.button {
  line-height: 1.5rem;
  min-height: 2.875rem;
  font-size: 1.1rem;
  font-stretch: 100%;
  cursor: pointer;
  border: none;
  font-weight: 700;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition:
    opacity 0.2s ease-out,
    color 0.15s linear,
    background-color 120ms ease-out 0s;
  padding: 0.5rem 1rem;
  gap: 0.8rem;
  flex: 1;
  font-family: 'Quicksand';
}

.primary {
  background-color: #009de0;
  color: #fff;

  &:hover {
    background-color: #1fa9e4;
  }
}

.secondary {
  color: #009de0;
  background-color: #ebf7fd;
}
