.button {
  font-size: 1rem;
  line-height: 1.5rem;
  font-stretch: 100%;
  min-height: 2.875rem;
  font-weight: 700;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition:
  opacity 0.2s ease-out,
  color 0.15s linear,
  background-color 120ms ease-out 0s;
  user-select: none;
  flex: 1;
}

.primary {
  background-color: var(--primary-color);
  color: #fff;

  &:hover {
    background-color: #1fa9e4;
  }
}

.secondary {
  color: var(--primary-color);
  background-color: var(--btn-light-color);
}
