:root {
  --primary-color: #009de0;
  --secondary-color: #1fa9e4;
  --disabled-button-color: #b9b8b8;
  --text-color: #202125;
  --bg-color: #fcfcfa;
  --btn-light-color: #ebf7fd;
  --separator-color: #cfcfcf;
  --shadow-color: #0000001f;
  --light-bg-color: #fff;
}
