.itemsQuantity {
  padding: 0.375rem;
  background-color: var(--light-bg-color);
  border-radius: 50%;
  color: var(--primary-color);
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}
