:root {
  font-family: 'Quicksand';
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  @media (max-width: 480px) {
    font-size: 12px;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 280px;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 2rem;
  padding-top: 0;

  @media (max-width: 480px) {
    padding: 1rem;
    padding-top: 0;
  }
}

button {
  font-family: 'Quicksand';
  appearance: none;
}

.noscroll {
  overflow: hidden;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}

/* Light */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi Bold */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
