:root {
  font-family: 'Quicksand';
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 280px;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noscroll {
  overflow: hidden;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #202125;
    background-color: #fcfcfa;
  }
}

/* Light */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi Bold */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
